:root {
  --main-color: #2e266f;
  --accent-color: #efc81a;
  --background-light: #f8f9fa;
}

* {
  font-family: "Poppins";
}

.content {
  margin-top: 2rem;
}

.postHeader {
  margin-top: 8rem;
}

/* Content start */
.postHeader img {
  width: 40px;
  height: 2rem; /* Use rem for consistency */
}

.content-container h1 {
  color: var(--main-color);
}

.addFile input,
.addIngredients textarea,
.comment-section textarea {
  background-color: var(--background-light);
  border-style: none;
  outline: none;
}

.booklike .book {
  background-color: var(--accent-color);
  height: 34px;
  width: 34px;
}

.book img,
.like img {
  margin-right: 50%; /* Adjust margin for spacing */
  height: 20px;
  width: 24px;
}

.bookmark .like {
  background-color: #fff;
  height: 34px;
  width: 34px;
  /* border: 1px solid var(--accent-color); */
}

.bar {
  width: 95%;
  height: 2px;
  border: none;
  background: var(--accent-color);
}

.comment-section button {
  background-color: var(--accent-color);
  border-style: none;
  outline: none;
}

/* Comment content start */
.comment-content img {
  height: 45px;
  width: 45px;
}

.comment-content {
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 2rem;
}

/* Content start */
.postHeader {
  margin-top: 8rem;
}

/* Comment content start */
.comment-content img {
  height: 45px;
  width: 45px;
}

.review-container1 {
  padding: 10px; /* Add padding */
  width: 50%; /* Set width */
}

.review-container2 {
  padding: 10px; /* Add padding */
  width: 30%; /* Set width */
}

.review-container p {
  margin-left: 60px; /* Adjust text indentation */
}

.line {
  white-space: nowrap;
}
/* Comment content end */

.send {
  background-color: var(--accent-color);
  border: none;
  color: #fff; /* Set default text color */
}

.send:hover {
  background-color: #efc81a; /* Change background color on hover */
  border: 1px solid var(--accent-color); /* Change border color on hover */
  color: var(--accent-color); /* Change text color on hover */
}

/* Content end */

/* Responsive Design */
@media screen and (max-width: 1920px) {
  /* Add responsive styles here */
}
