#container-content {
  margin-top: 10rem;
}
/* ! Content start */

.content-container .addPhoto {
  padding-top: 25%;
}
.addFile input {
  height: 60px;
  background-color: #f8f9fa;
  border-style: none;
  outline: none;
}
.buttonUpdate .update {
  background-color: #efc81a;
  color: #fff;
  cursor: pointer;
  height: 40px;
  border-style: none;
}
.buttonUpdate .update:hover {
  background-color: #fff;
  color: #efc81a;
  cursor: pointer;
  height: 40px;
  border: 1px solid #efc81a;
}
.addIngredients textarea {
  background-color: #f8f9fa;
  border-style: none;
  outline: none;
}
.category .selectCategory {
  background-color: #f8f9fa;
  border-style: none;
  outline: none;
}

.upload-area {
  width: 100%;
  height: 200px; /* Adjust as needed */
}

.upload {
  background-color: #efc81a;
  border-radius: 5px;
}

.label-upload {
  color: #fff;
}
.upload:hover {
  background-color: #fff;
  border-radius: 5px;
  color: #efc81a;
  border: 1px solid #efc81a;
}

.label-upload:hover {
  color: #efc81a;
}

/* ! Content end */
